<ng-container *ngIf="type === 'th'; else trContent">
    <th [ngClass]="[item.cssClass || '', item.title === 'actions' ? 'empty' : '']" *ngFor="let item of content">
        <ng-container *ngIf="item.title !== 'actions'; else emptyElement" [ngTemplateOutlet]="headerTemplateRef"
            [ngTemplateOutletContext]="{$implicit: item}">
        </ng-container>
    </th>
</ng-container>


<ng-template #emptyElement>
    &nbsp;
</ng-template>

<ng-template #trContent>
    <td *ngFor="let item of content">
        <ng-container
        *ngIf="item; else emptyElement"
        [ngTemplateOutlet]="contentTemplateRef"
            [ngTemplateOutletContext]="{$implicit:item}">
        </ng-container>
    </td>
</ng-template>