<ng-container *ngIf="type === 'headers'; else trContent">
    <!-- <th [ngClass]="[content?.cssClass || '', content?.title === 'actions' ? 'empty' : '']">
        <ng-container *ngIf="content?.title !== 'actions'" [ngTemplateOutlet]="headerTemplateRef"
            [ngTemplateOutletContext]="{$implicit: content}">
        </ng-container>
    </th> -->
    <ng-container *ngFor="let item of content | keyvalue">
        <ng-content [select]="'#' + item.key"></ng-content>
    </ng-container>

</ng-container>


<!-- <ng-template #emptyElement>
    &nbsp;
</ng-template> -->

<ng-template #trContent>
    <!-- <td>
        <ng-container
        *ngIf="content"
        [ngTemplateOutlet]="contentTemplateRef"
            [ngTemplateOutletContext]="{$implicit:content}">
        </ng-container>
    </td> -->
</ng-template>